/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#container {
    /*max-width: 1360px;*/
    max-width: 960px;
    width: 100%;
    background-image: url("../../assets/blank-background.png");
    background-size: 100%;
    margin: 0 auto;
}

.blue-header {
    color: #1b4d7f;;
}
.blue-body {
    color: #36638c;
}
.yellow {
    color: #f7ca4f;
    font-weight: bold;
}

#top-container {
    width: 100%;

    div {
        position: absolute;
    }
    .onlineSafety {
        left: 10%;
        top: 5%;

        h1 {
            color: #b22126;
        }
    }
    .topBlurb {
        left: 50%;
        top: 50%;

        p {
            line-height: 1.5;
        }
    }
}

.middle-container {
    width: 100%;

    img, h2, p {
        position: absolute;
    }

    .humanCost {

        h2 {
            top: 10%;
            left: 14%;
            text-align: center;
        }

        p {
            text-align: center;
            color: white;
        }

        .left {
            top: 34%;
            left: 3%;
        }
        .right {
            top: 32%;
            left: 71%;
        }
    }

    .fiscalImpact {
        top: 10%;
        left: 14%;
        text-align: center;
    }
    .belowHeader {
        top: 25%;
        left: 21%;
        text-align: center;
        color: white;
    }
    .citations {
        top: 77%;
        left: 8%;
        text-align: center;
        color: white;
    }

    .solution {
        text-align: center;
        top: 9%;
        left: 14%;
    }
    .solutionLeft {
        text-align: center;
        top: 38%;
        left: 20%;
    }
    .solutionRight {
        text-align: center;
        top: 65%;
        left: 60%;
        color: white;
    }

    .dozer {
        top: 76%;
        left: 24%;
    }
    .sign {
        top: 54%;
        left: 25%;
    }
    .cone {
        top: 75.7%;
        left: 8%;
    }
    .crane {
        top: 73%;
        left: 65%;
    }
    .gearLarge {
        top: 32%;
        left: 85%;
    }
    .gearMedium {
        top: 57%;
        left: 93%;
    }
    .gearSmall {
        top: 10%;
        left: 90%;
    }
}

#bottom-container {
    width: 100%;
}

.pane {
    overflow: hidden;
    position: relative;
}