/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: museo;
    src: url('../../assets/fonts/museo.otf');
    font-weight: normal;
}
@font-face {
    font-family: museo;
    src: url('../../assets/fonts/museo-300.otf');
    font-weight: 300;
}
@font-face {
    font-family: museo;
    src: url('../../assets/fonts/museo-500.otf');
    font-weight: 500;
}
@font-face {
    font-family: museo;
    src: url('../../assets/fonts/museo-700.otf');
    font-weight: 700;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: museo;
}

#container {
    /*max-width: 1360px;*/
    width: 960px;
    background-image: url("../../assets/blank-background.png");
    background-size: 100%;
    margin: 0 auto;
}

.blue-header {
    color: #1b4d7f;;
}
.blue-body {
    color: #36638c;
}
.yellow {
    color: #f7ca4f;
    font-weight: 700;
}

#top-container {
    width: 100%;

    div {
        position: absolute;
    }
    .onlineSafety {
        left: 10%;
        top: 5%;

        h1 {
            color: #b22126;
            font-weight: 700;
        }
    }
    .topBlurb {
        left: 50%;
        top: 50%;

        p {
            line-height: 1.6;
            font-weight: 300;
        }
    }
}

.middle-container {
    width: 100%;

    img, h2, p {
        position: absolute;
    }

    .humanCost {

        h2 {
            top: 10%;
            left: 14%;
            text-align: center;
            font-weight: 700;
        }

        p {
            text-align: center;
            color: white;
            font-weight: 300;
        }

        .countingNumbers {
            margin: 5% 0px;
            display: block;
        }

        .left {
            top: 34%;
            left: 3%;
        }
        .right {
            top: 32%;
            left: 71%;
        }
    }

    .fiscalImpact {
        top: 10%;
        left: 14%;
        text-align: center;
        font-weight: 700;
    }
    .belowHeader {
        top: 27%;
        left: 21%;
        text-align: center;
        color: white;
        font-weight: 300;
        line-height: 1.3;
    }
    .citations {
        top: 75%;
        left: 8%;
        text-align: center;
        color: white;
        font-weight: 300;
        line-height: 1.3;
    }

    .big {
        display: block;
    }

    .solution {
        text-align: center;
        top: 9%;
        left: 14%;
        font-weight: 700;
    }
    .solutionLeft {
        text-align: center;
        top: 37%;
        left: 19.5%;
        font-weight: 300;
        line-height: 1.2;
    }
    .solutionRight {
        text-align: center;
        top: 61%;
        left: 60%;
        color: white;
        font-weight: 300;
        line-height: 1.5;
    }

    .dozer {
        top: 76%;
        left: -26%;
    }
    .sign {
        top: 54%;
        left: 25%;
    }
    .cone {
        top: 75.7%;
        left: 8%;
    }
    .crane {
        top: 73%;
        left: 102%;
    }
    .gearLarge {
        top: 32%;
        left: 85%;
    }
    .gearMedium {
        top: 57%;
        left: 93%;
    }
    .gearSmall {
        top: 10%;
        left: 90%;
    }
}

#bottom-container {
    width: 100%;
}

.pane {
    overflow: hidden;
    position: relative;
}