/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#container {
    /*max-width: 1360px;*/
    max-width: 960px;
    width: 100%;
    background-image: url("../../assets/blank-background.png");
    background-size: 100%;
    margin: 0 auto;
}

#top-container {
    width: 100%;
}

.middle-container {
    width: 100%;
}

#bottom-container {
    width: 100%;
}