/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: museo;
  src: url("../../assets/fonts/museo.otf");
  font-weight: normal;
}
@font-face {
  font-family: museo;
  src: url("../../assets/fonts/museo-300.otf");
  font-weight: 300;
}
@font-face {
  font-family: museo;
  src: url("../../assets/fonts/museo-500.otf");
  font-weight: 500;
}
@font-face {
  font-family: museo;
  src: url("../../assets/fonts/museo-700.otf");
  font-weight: 700;
}
/* line 29, ../sass/screen.scss */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: museo;
}

/* line 36, ../sass/screen.scss */
#container {
  /*max-width: 1360px;*/
  width: 960px;
  background-image: url("../../assets/blank-background.png");
  background-size: 100%;
  margin: 0 auto;
}

/* line 44, ../sass/screen.scss */
.blue-header {
  color: #1b4d7f;
}

/* line 47, ../sass/screen.scss */
.blue-body {
  color: #36638c;
}

/* line 50, ../sass/screen.scss */
.yellow {
  color: #f7ca4f;
  font-weight: 700;
}

/* line 55, ../sass/screen.scss */
#top-container {
  width: 100%;
}
/* line 58, ../sass/screen.scss */
#top-container div {
  position: absolute;
}
/* line 61, ../sass/screen.scss */
#top-container .onlineSafety {
  left: 10%;
  top: 5%;
}
/* line 65, ../sass/screen.scss */
#top-container .onlineSafety h1 {
  color: #b22126;
  font-weight: 700;
}
/* line 70, ../sass/screen.scss */
#top-container .topBlurb {
  left: 50%;
  top: 50%;
}
/* line 74, ../sass/screen.scss */
#top-container .topBlurb p {
  line-height: 1.6;
  font-weight: 300;
}

/* line 81, ../sass/screen.scss */
.middle-container {
  width: 100%;
}
/* line 84, ../sass/screen.scss */
.middle-container img, .middle-container h2, .middle-container p {
  position: absolute;
}
/* line 90, ../sass/screen.scss */
.middle-container .humanCost h2 {
  top: 10%;
  left: 14%;
  text-align: center;
  font-weight: 700;
}
/* line 97, ../sass/screen.scss */
.middle-container .humanCost p {
  text-align: center;
  color: white;
  font-weight: 300;
}
/* line 103, ../sass/screen.scss */
.middle-container .humanCost .countingNumbers {
  margin: 5% 0px;
  display: block;
}
/* line 108, ../sass/screen.scss */
.middle-container .humanCost .left {
  top: 34%;
  left: 3%;
}
/* line 112, ../sass/screen.scss */
.middle-container .humanCost .right {
  top: 32%;
  left: 71%;
}
/* line 118, ../sass/screen.scss */
.middle-container .fiscalImpact {
  top: 10%;
  left: 14%;
  text-align: center;
  font-weight: 700;
}
/* line 124, ../sass/screen.scss */
.middle-container .belowHeader {
  top: 27%;
  left: 21%;
  text-align: center;
  color: white;
  font-weight: 300;
  line-height: 1.3;
}
/* line 132, ../sass/screen.scss */
.middle-container .citations {
  top: 75%;
  left: 8%;
  text-align: center;
  color: white;
  font-weight: 300;
  line-height: 1.3;
}
/* line 140, ../sass/screen.scss */
.middle-container #drawn-arrow {
  position: absolute;
  top: 45%;
  left: 6.5%;
}
/* line 146, ../sass/screen.scss */
.middle-container .big {
  display: block;
}
/* line 150, ../sass/screen.scss */
.middle-container .solution {
  text-align: center;
  top: 9%;
  left: 14%;
  font-weight: 700;
}
/* line 156, ../sass/screen.scss */
.middle-container .solutionLeft {
  text-align: center;
  top: 37%;
  left: 19.5%;
  font-weight: 300;
  line-height: 1.2;
}
/* line 163, ../sass/screen.scss */
.middle-container .solutionRight {
  text-align: center;
  top: 61%;
  left: 60%;
  color: white;
  font-weight: 300;
  line-height: 1.5;
}
/* line 172, ../sass/screen.scss */
.middle-container .dozer {
  top: 76%;
  left: -26%;
}
/* line 176, ../sass/screen.scss */
.middle-container .sign {
  top: 54%;
  left: 25%;
}
/* line 180, ../sass/screen.scss */
.middle-container .cone {
  top: 75.7%;
  left: 8%;
}
/* line 184, ../sass/screen.scss */
.middle-container .crane {
  top: 73%;
  left: 102%;
}
/* line 188, ../sass/screen.scss */
.middle-container .gearLarge {
  top: 32%;
  left: 85%;
}
/* line 192, ../sass/screen.scss */
.middle-container .gearMedium {
  top: 57%;
  left: 93%;
}
/* line 196, ../sass/screen.scss */
.middle-container .gearSmall {
  top: 10%;
  left: 90%;
}
/* line 200, ../sass/screen.scss */
.middle-container .leftHand {
  top: 83%;
  left: 5.5%;
}
/* line 204, ../sass/screen.scss */
.middle-container .rightHand {
  top: 84%;
  left: 23%;
}

/* line 210, ../sass/screen.scss */
#bottom-container {
  width: 100%;
}

/* line 214, ../sass/screen.scss */
.pane {
  overflow: hidden;
  position: relative;
}
